<nav class="font-sans flex flex-col text-center content-center sm:flex-row sm:text-left sm:justify-between py-2 px-6 main-bg-color m:items-baseline w-full">
    <div class="mb-2 sm:mb-0 inner">
  
      <a href="/home" class="text-2xl no-underline text-grey-darkest appbarText hover:text-blue-dark font-sans font-bold">RightWorks Projects</a><br>
      <span class="text-xs text-grey-dark appbarText">1000 New Firms Onboarded</span>
  
    </div>
  
    <div class="flex flex-shrink-0 items-center space-x-4 text-white">
        
      <!-- App Bar Info -->
      <div class="flex flex-col items-end ">
        <!-- Name -->
        <div class=" text-md font-medium"
        ng
          >{{userName}}</div>
        <!-- Title -->
        <div class="text-sm font-regular">{{userTitle}}</div>
      </div>
      
      <!-- Photo 
      <div class="h-10 w-10 rounded-full cursor-pointer bg-gray-200 border-2 border-blue-400"><img ngSrc="Untitled-1aa.png"></div>-->
      <div class="avatar">
        <div class="w-14 rounded-full">
          <img ngSrc="Untitled-1aa.png"/>
        </div>
      </div>
    </div>

  </nav>
