span {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: light;
    font-style: normal;
    font-size: medium;
}

.navbarColor {
    background-color: #19191a;
}

.navbarColorHover {
    background-color: #3b3b3d;
}